.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: midnightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font: 35px Georgia;
}

.form_JWT {
  display: flex;
  align-items: center;
  border: 2px solid black;
  background: white;
  flex-direction: column;
  width: 375px;
}

.form_elements {
  padding: 25px 0;
  border: none;
  border-bottom: 1px solid gray;
  color: black;
  width: 100%;
  text-align: center;

}

.form_submit {
  background-color: darkorange;
  color: #ffffff;
  padding: 25px 0;
  width: 100%;
  border: none;
  font-family: Verdana, serif;
}


